certifi==2020.4.5.1
chardet==3.0.4
gitdb==4.0.4
GitPython==3.1.1
idna==2.9
numpy==1.18.3
opencv-contrib-python==4.2.0.34
opencv-contrib-python-nonfree==4.1.1.1
opencv-python==4.2.0.34
pandas==1.0.3
pathtools==0.1.2
pkg-resources==0.0.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
sentry-sdk==0.14.3
shortuuid==1.0.1
six==1.14.0
smmap==3.0.2
urllib3==1.25.9
watchdog==0.10.2
